/* selector {
    property: value;

    gap, justify-content and align-items only work when you display as flex or grid
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans';
}

/* This removes all the decoration(underline) from all anchor tags */
a{
    text-decoration: none;
}

html, body{
    scroll-behavior: smooth;
}

nav{
    display: flex; /*This makes the children stay in horizontal direction*/
    align-items: center; /*This makes the children stay at the center of the parent*/
    justify-content: space-between; /*This spreads out the children*/
    padding: 20px 50px; /* This creates internal spacing */
}

nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
}

nav a{
    color: gray;
}

button{
    all: unset;
    background-color: #00924b;
    color: white;
    padding: 7px 16px;
    border-radius: 50px;
    cursor: pointer;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px;
    background-color: #F3F4F6;
}

main div{
    width: 40%;
}

main img{
    width: 45%;
}

main div h2{
 font-size: 60px;
 font-weight: 400;
}

main div p{
    font-size:20px ;
    padding: 20px 0;
    line-height: 1.5;
}

#about, #article{
    padding: 100px 50px;
}

#about .about-body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 60px;
    gap: 50px;
}

#about .about-body h1{
    font-size: 18px;
    margin: 10px 0;
}
#about .about-body p{
    line-height: 1.4;
}
#about .parent-holder{
    width: 45%;
}

#about .parent-holder h3{
    font-size: 40px;
    font-weight: 400;
    margin-top: 10px 0;
  padding-bottom: 20px;
}

#about .parent-holder p{
    font-size: 20px;
}

#article .prestige{
    padding: 20px 0px;
}

article{
    background-color: #F3F4F6;
}
#article .prestige {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
    gap: 50px;
}

#article .prestige img{
    width: 100%;
}

#article .prestige .content{
    box-shadow: 0px 0px 10px #a0a0a0;
}

#article .prestige .content div{
    padding: 15px;
}

#article .prestige .content div a{
    padding: 10px 0;
    display: block;
    font-size: 14px;
    color: #000;
}

#article .prestige .content div p{
    font-size: 14px;
}

#article .prestige .content div a:hover{
    color: rgb(0, 204, 136);
}

article h1{
    font-weight: 400;
    color:gray;
    font-size: 25px;
    font-style: unset;
}

#article .prestige div h2{
    font-size: 16px;
}

footer {
    background-color: #2D314D;
    padding: 50px ;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer img{
    filter: invert(0.5);
    margin-bottom: 3rem;
}

footer ul{
    list-style: none;
}

.pdd ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

.pdd ul a{
    color: #fff;
    font-size: 20px;
}

.about-links{
    display: flex;
    gap: 80px;
}

.about-links a{
    color: #F3F4F6;
}

footer p{
    color: #F3F4F6;
}

.about-links a{
    line-height: 32px;
}

footer div button{
    margin-bottom: 15px;
}

.togglers{
    display: none; 
}

.ri-arrow-up-s-line{
    position: fixed;
    font-size: 20px;
    border-radius: 50%;
    z-index: 1;
    padding: 6px;
    right: 30px;
    bottom: 20px;
    background-color: #31D35C;
    color: #ffff;
    cursor: pointer;
}

@media screen and (max-width:992px) {
    main div h2{
        font-size: 40px;
    }

    main div p{
        font-size: 16px;
    }

    #about .parent-holder{
        width: 55%;
    }

    #about .about-body, #article .prestige{
        gap: 30px;
    }
}

@media screen and (max-width:768px) {
    nav button{
        display: none;
    }

    main div h2{
        font-size: 30px;
    }

    main div p{
        font-size: 14px;
    }

    #about .parent-holder{
        width: 75%;
    }

    #about .about-body, #article .prestige{
        grid-template-columns: repeat(2, 1fr);
    }

    footer{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:576px) {
    nav{
        padding: 20px;
    }
    .togglers{
        display: block;
        font-size: 22px;
    }
    
    .ri-close-fill{
        display: none;
    }
    
    nav ul{
        position: fixed;
        top: -40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        border-radius: 10px;
        text-align: center;
        width: 60%;
        padding: 2rem 0;
        background-color: white;
        border: 1px solid gray;
        flex-direction: column;
        transition: .5s;
    }


    main{
        flex-direction: column-reverse;
        text-align: center;
        gap: 3rem;
    }

    main img, main div{
        width: 95%;
    }

    main div h2{
        font-size: 45px;
    }

    main div p{
        font-size: 18px;
    }

    #about .parent-holder{
        width: 95%;
        text-align: center;
    }

    .about-links{
        text-align: center;
    }
    footer {
        text-align: center;
    }
    
}
@media screen and (max-width:375px) {

    #about{
        padding: 100px 20px;
    }

    main div h2{
        font-size: 30px;
    }
    
    #about .parent-holder h3{
        font-size: 35px;
    }

    main div p, #about .parent-holder p{
        font-size: 16px;
    }

    #about .about-body, #article .prestige{
        grid-template-columns: 1fr;
    }

    #about .about-body{
        text-align: center;
    }
    footer p{
        text-align: center;
    }

    footer{
        gap: 50px !important;
    }

    footer div button{
     margin-left:30px ;
    }
}
